
   A:link {text-decoration: none; Color:#fff;}
   A:visited {text-decoration: none; Color:#fff;}
   A:active {text-decoration: none; Color:#fff;}
.top
{
background-color:#777;
width: 100%;

float:none;
border-style:solid;
}
body
{
margin:0;
padding:0;
background:#999;
}
table {
  border-collapse: collapse !important;
  border: none !important;
  font: normal 11px helvetica, verdana, arial, sans-serif !important;
  background-image: url(http://www.acuity.com.br/extern/icant.co.uk/bg_acuity.gif) !important; 
  background-repeat: repeat !important;

border-spacing: 1px !important;
  }
caption {
  text-align: left !important;
  font: normal 11px helvetica, verdana, arial,  sans-serif !important;
  background: transparent !important;
  }
td, th {
  border: non !importante;
  padding: .8em !important;
  color: #6E6E6E !important;
  }
thead th, tfoot th {
  font: bold 10px helvetica, verdana, arial, sans-serif !important;
  border: none !important;
  text-align: left !important;
  background: #000000 !important;
  color: #00FF0C;
  padding-top:4px !important;
  }
tbody td a {
  background: transparent !important;
  text-decoration: none !important;
  color: #9F9F9F !important;
  }
tbody td a:hover {
  background: transparent !important;
  color: #00FF0C !important;
  }
tbody th a {
  font: bold 11px helvetica, verdana, arial, sans-serif !important;
  background: transparent !important;
  text-decoration: none !important;
  font-weight:normal !important;
  color: #9F9F9F !important;
  }
  
  
tbody td+td+td+td a {
    padding-right: 14px;
    background: url(http://luacore.co/image.php?url=http://www.acuity.com.br/extern/icant.co.uk/arrow.gif) transparent no-repeat bottom right !important;
    }
    tbody td+td+td+td a:hover {
        padding-right: 14px !important;
    background: url(http://luacore.co/image.php?url=http://www.acuity.com.br/extern/icant.co.uk/arrow.gif) transparent no-repeat bottom right  !important;
    }
tbody th a:hover {
  background: transparent !important;
  color: #00FF0C !important;
  }
tbody th, tbody td {
  vertical-align: top !important;
  text-align: left !important;
  }

.odd {
  background: #000000 !important;
  }
tbody tr:hover {
  background: #0E0E0E !important;
  }
tbody tr:hover th,
tbody tr.odd:hover th {
  background: #0E0E0E !important;
  }