@font-face{
    font-family: 'AUdimat-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../font/AUdimat-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'Exo-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../font/Exo-Bold.ttf') format('truetype');
}

body {
    font-family: 'AUdimat-Bold', sans-serif;
	padding: 0;
	background: #B6B6B4;
	color: #000;
	overflow: hidden;
}
img {
	max-width: 100%;
}
input[type=text], input[type=password] {
	border: 1px solid #333;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	min-height: 40 px;
	font-size: 18px;
	color: #FFF;
	background: rgb(69,72,77);
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 9%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 9%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(69,72,77,1) 9%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 9%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(69,72,77,1) 9%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
input[type=text]:focus, input[type=password]:focus{
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
}
.button {
	min-height: 40 px;
	border: 1px solid #777777;
	background: rgb(157,213,58);
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1)));
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
	color: #000;
	font: bold 11px 'Trebuchet MS';
	padding: 4px;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
 }
.button:hover {
	
	opacity: .76;
	color: #fff;
}
#loginbutton.button {
	font-size: 16px;
	font-family: 'Exo-Bold';
	width: 200px;
	margin-right: -20px;
	text-align: center;
}
a { text-decoration: none;}
.container {
	width: 960px;
	margin: auto;
}
.color {
	background: #7d7e7d;
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}
.website-header {
	width: 960px;
	min-height: 55px;
	margin-bottom: 0 auto;

}
.Head_T {
    color: #FFF;
	margin-top: 0 px;
	margin-left: 5 px;
	margin-bottom: 0px;
}
.Head_A {
	font-family: 'Exo-Bold', sans-serif;
	color: #FFF;
	padding: 2.5px;
	margin-top: 0px;
}

#nav {
	width: 100%;
	float: left;
	margin-bottom: 0 px;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
}
#nav li {
	float: left; 
}
#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #000;
		border-right: 1px solid #ccc; 
    }
#nav li a:hover {
	color: #000;
	background: #feffff;
	background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9));
	background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%);
	background: -o-linear-gradient(top,  #feffff 0%,#d2ebf9 100%);
	background: -ms-linear-gradient(top,  #feffff 0%,#d2ebf9 100%);
	background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
	}
.usermsg {
		display: block;
		padding: 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
	}
.content {
	float: left;
	width: 752px;
	background: #fcfff4;
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead));
	background: -webkit-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	min-height: 530px;
	max-height: 530px;
	overflow: hidden;
	overflow-y: scroll;
	padding: 10px;
}
.sidebar {
	width: 168px;	
	padding: 10px;
	float: right;
	min-height: 530px;
	max-height: 530px;
}

#Mrkt_H {
	color: #d2ebf9;
	font-size: 22px;
}
#market-list {
	font-family: 'Exo-Bold', sans-serif;
	font-size: 14px;
	width: 100%;
	min-width: 168px;
	opacity: .88;
	padding-left:0;
}
ul { 
	list-style: none;
	margin: 0 auto;
}
#market-list li {
	border-top: 1px solid #A1DBFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:0;
	min-width: 168px;
	width: 100%;
    cursor: pointer;
}
#market-list a{
	text-decoration: none;
    display: block;
	height: 100% !important;
	min-width: 168px;
	color: #f2f2f2;
	width: 100%;
}
#market-list li a:hover{
	text-decoration: none;
	color: #d2ebf9;
}
#market-list li:hover {
	opacity: 0.93;
	background: #6E6E6E;
}
.meny {
	display: none;
	padding: 20px;
	overflow: hidden;
	background: #7d7e7d;
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	color: #eee;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
	.meny ul {
		margin-top: 10px;
	}
		.meny ul li {
			display: inline-block;
			width: 200px;
			list-style: none;
			font-size: 20px;
			padding: 3px 10px;
		}
			.meny ul li:before {
				content: '-';
				margin-right: 5px;
				color: rgba( 255, 255, 255, 0.2 );
			}

/**
 * Hint graphic that appears while menu is inactive
 */
.meny-arrow {
	position: absolute;
	z-index: 10;

	border: 10px solid transparent;

	-webkit-transition: opacity 0.4s ease 0.4s;
	   -moz-transition: opacity 0.4s ease 0.4s;
	    -ms-transition: opacity 0.4s ease 0.4s;
	     -o-transition: opacity 0.4s ease 0.4s;
	        transition: opacity 0.4s ease 0.4s;
}
	.meny-left .meny-arrow {
		left: 14px;
		top: 50%;
		margin-top: -16px;
		border-left: 16px solid #333;
	}
	.meny-right .meny-arrow {
		right: 14px;
		top: 50%;
		margin-top: -16px;
		border-right: 16px solid #333;
	}
	.meny-top .meny-arrow {
		left: 50%;
		top: 14px;
		margin-left: -16px;
		border-top: 16px solid #333;
	}
	.meny-bottom .meny-arrow {
		left: 50%;
		bottom: 14px;
		margin-left: -16px;
		border-bottom: 16px solid #333;
	}
	.meny-active .meny-arrow {
		opacity: 0;

		-webkit-transition: opacity 0.2s ease;
		   -moz-transition: opacity 0.2s ease;
		    -ms-transition: opacity 0.2s ease;
		     -o-transition: opacity 0.2s ease;
		        transition: opacity 0.2s ease;
	}

/**
 * Main contents area
 */
.contents {
	-webkit-overflow-scrolling: touch;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.chat { 
	height: 600px; 
	width: 340px;  
	padding: 5px;
	display: block;
}
#chat_box {
	min-height: 490px;
	max-height: 490px;
	width: 340px;
	background: #fff;
	color: #000;
	margin: 0 auto;
	overflow-y: scroll;
}
#LoggedOut{
	width: 340px;
	background: #dadada;
	height: 50px;
	resize: none;
	font-weight: italic;
	color: #0B0B61;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #000;
	display: table-cell; 
	height: 50px; 
	vertical-align: middle; 
	
}
#message{
	width: 340px;
	height: 50px;
	resize: none;
	margin: 0 auto;	
}
.notify-red {
	font-size: 22px;
	color: #fff;
	background-color: #DF0101;
	padding: 2.5px;
	margin: 0 auto;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
}
.notify-green {
	font-size: 22px;
	color: #fff;
	background-color: #01DF01;
	padding: 2.5px;
	margin: 0 auto;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
}